<!doctype html>
<html lang="en">

<head>
  <title>Astro App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="container bg-white p-0 rounded-3 shadow mt-2 min-vh-80" id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-orange rounded-3">
              <div class="container">
                <a class="navbar-brand" href="#">Astro App</a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0 d-flex justify-content-end w-100 ">
                        <li class="nav-item">
                            <a class="nav-link active" @click.prevent="link('home')" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click.prevent="link('horoscope')">Horoscope</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click.prevent="link('kundali')">Kundali</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click.prevent="link('panchang')">Daily Panchang</a>
                        </li>
                    </ul>
                    
                </div>
          </div>
        </nav>
        <div class="p-3 min-vh-70">
            <div v-if="page=='home'">
                <div class="row justify-content-center">
                    <div class="col-lg-3  d-flex align-items-stretch">
                        <div class="card border-0 shadow p-2 m-2">
                            <div class="d-flex justify-content-center">
                                <img src="./imgs/horoscope.webp" alt="" class="w-75 card-img-to home-card-img">
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">Horoscope</h4>
                                <p class="card-text">Get your daily horoscope</p>
                                <a href="#" class="btn btn-success" @click.prevent="link('horoscope')">Get Horoscope</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  d-flex align-items-stretch">
                        <div class="card border-0 shadow p-2 m-2">
                            <div class="d-flex justify-content-center">
                                <img src="./imgs/kundali.jpg" alt="" class="w-100 card-img-top home-card-img">
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">Kundlai</h4>
                                <p class="card-text">Get your birth chart.</p>
                                <a href="#" class="btn btn-success" @click.prevent="link('kundali')">Get Kundali</a>
                            </div>
                        </div>
                    </div>
                    <!-- panchanga -->
                    <div class="col-lg-3  d-flex align-items-stretch">
                        <div class="card border-0 shadow p-2 m-2">
                            <div class="d-flex justify-content-center">
                                <img src="./imgs/drikpanchang.png" alt="" class="w-100 card-img-top home-card-img">
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">Panchanga</h4>
                                <p class="card-text">Get your daily panchang</p>
                                <a href="#" class="btn btn-success" @click.prevent="link('panchang')">Get Panchang</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- horoscope -->
            <div v-else-if="page=='horoscope'">
                <div class="row justify-content-center">
                    <div class="col-lg-3 d-flex align-items-stretch" v-for="(sign,index) in signs" :key="index">
                        <div class="card border-0 shadow p-2 m-2">
                            <div class="d-flex justify-content-center">
                                <img :src="`./imgs/signs/${sign}.png`" alt="" class="w-50 card-img-top">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{sign}}</h4>
                                <p class="card-text">Get your daily horoscope</p>
                                <a href="#" class="btn btn-success" @click="getHoroscope(sign)">Get Horoscope</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- view-horoscope -->
            <div v-else-if="page=='view-horoscope'">
                <div class="d-flex w-100 min-vh-70 justify-content-center align-items-center"  v-if="loading">
                     <img src="./imgs/loader.gif" style="width:100px;" >
                </div>
                <div class="row justify-content-center" v-else>
                    <div class="col-lg-6">
                        <div class="card mb-2 shadow border-0">
                            <div class="d-flex justify-content-center">
                                <img class="card-img-top w-50" :src="`./imgs/signs/${currentHoroscope.sign}.png`" :alt="currentHoroscope.sign">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{currentHoroscope.sign}}</h4>
                                <p class="card-text">
                                    <ul class="list-unstyled">
                                        <li>Current Date: {{currentHoroscope.current_date}}</li>
                                        <li>Compatibility: {{currentHoroscope.compatibility}}</li>
                                        <li>Lucky Number: {{currentHoroscope.lucky_number}}</li>
                                        <li>Lucky Time: {{currentHoroscope.lucky_time}}</li>
                                        <li>Color: {{currentHoroscope.color}}</li>
                                        <li>Date Range: {{currentHoroscope.date_range}}</li>
                                        <li>Mood: {{currentHoroscope.mood}}</li>
                                        <li>Description: {{currentHoroscope.description}}</li>
                                    </ul>
                                </p>
                                <div class="d-flex justify-content-end">
                                    <a href="#" class="btn btn-success" @click.prevent="link('horoscope')">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- kundali -->
            <div v-else-if="page=='kundali'">        
                <div class="d-flex w-100 min-vh-70 flex-column justify-content-center align-items-center">
                    <h4>Kundali | Under Construction</h4>
                    <button class="btn btn-primary"  @click.prevent="link('home')">Home</button>
                </div>
            </div>
            <!-- panchang -->
            <div v-else-if="page=='panchang'">        
                <div class="d-flex w-100 min-vh-70 justify-content-center align-items-center"  v-if="loading">
                    <img src="./imgs/loader.gif" style="width:100px;" >
               </div>
                <div v-else>
                    <div class="text-center">
                        <h4>Daily Panchange</h4>
                        <p class="text-muted">Only supports Nepali for now.</p>

                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table table-striped">
                               
                                <tbody>
                                    <tr class="" v-for="(item,index) in panchang" :key="index">
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-success" @click.prevent="link('home')">Home</a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="./js/bs.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/utils.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>